[submodule "themes/anatole"]
	path = themes
	url = https://github.com/lxndrblz/anatole.git
[submodule "public"]
	path = public
	url = https://github.com/vical1024/leeminwoodev_hugo.github.io.git
	branch = master
